body {
  padding: 0;
  margin: 0;
  font-family: Paytone One, Arial, Helvetica, sans-serif;
}

/*GENERAL*/

.txt {
  color: #fff;
}

.main-txt {
  font-size: 1.6rem;
}

.second-txt {
  font-size: 1.2rem;
}

.center-txt {
  text-align: center;
}

.highlight {
  color: #fffa65;
  font-weight: bold;
  font-size: 1.8rem;
}

.button-default {
  font-family: Paytone One, Arial, Helvetica, sans-serif;
  background-color: #fffa65;
  color: #1a582f;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-default:hover {
  background-color: #d9d456;
  transform: scale(1.025);
}

.scroll-icon {
  height: 75px;
  width: 75px;
}
.scroll-icon {
  fill: #fff;
}

.icon-text-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.icon-text-centered svg {
  margin-right: 20px;
}
@media screen and (max-width: 1400px) {
  .main-txt {
    font-size: 1.4rem;
  }
  .second-txt {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .button-default {
    padding: 5px 7px;
    font-size: 0.8rem;
  }
  .main-txt {
    font-size: 1.2rem;
  }
  .second-txt {
    font-size: 0.8rem;
  }
}
/*NAV BAR*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a582f;
  padding: 10px;
  color: white;
  max-height: 8vh;
  border-bottom: #113b1f solid 2px;
}

nav .nav-logo {
  height: 10vh;
  width: 10vh;
  margin-right: 20px;
}

nav .logo-container {
  display: flex;
  align-items: center;
}

nav .logo img {
  max-width: 100%;
  height: auto;
}

nav .links {
  display: flex;
}

nav .links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

@media screen and (max-width: 1000px) {
  nav .nav-logo {
    height: 6vh;
    width: 6vh;
    margin-right: 5px;
  }
  nav .links a {
    min-height: 48px;
    min-width: 48px;
  }
}

@media screen and (max-width: 640px) {
  nav {
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: 50vh;
  }
  nav .nav-logo {
    margin-bottom: 10px;
  }
  nav .logo-container {
    flex-direction: column;
    align-items: center;
  }

  nav .links {
    flex-direction: column;
    align-items: center;
  }

  nav .links a {
    margin-right: 0;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .button-default {
    margin: 10px 0;
  }
}
/*Main*/

/*first-container*/

.entreprise-first-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  max-height: 90vh;
  background-color: #1a582f;
  border-bottom: #113b1f solid 2px;
}

.entreprise-first-container .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entreprise-first-container .txt p {
  width: 75%;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.entreprise-first-container .img img {
  height: 90vh;
  max-height: 90vh;
}

.entreprise-first-container button {
  margin-bottom: 40px;
}

@media screen and (max-width: 1400px) {
  .entreprise-first-container .txt p,
  .entreprise-first-container .txt h3 {
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  .entreprise-first-container .txt p,
  .entreprise-first-container .txt h3 {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .entreprise-first-container {
    justify-content: center;
    flex-direction: column;
  }
  .entreprise-first-container .img img {
    display: none;
  }
}

/*second-container*/

.entreprise-second-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-height: 100vh;
  background-color: #1a582f;
  border-bottom: #113b1f solid 2px;
}

.entreprise-second-container .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 70%;
  width: 70%;
}
.entreprise-second-container .text-arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.entreprise-second-container hr {
  border: 1px solid white;
  width: 100%;
}

.entreprise-second-container .txt p {
  width: 75%;
  text-align: center;
  margin: 0;
}

.entreprise-second-container .img img {
  height: 100vh;
  max-height: 100vh;
  max-width: 32vw;
}

.entreprise-second-container button {
  margin-bottom: 40px;
}

@media screen and (max-width: 1400px) {
  .entreprise-second-container .txt p,
  .entreprise-second-container .txt h3 {
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  .entreprise-second-container .txt p,
  .entreprise-second-container .txt h3 {
    width: 90%;
  }
  .entreprise-second-container .txt {
    min-width: 60%;
    width: 60%;
  }
  .entreprise-second-container .img {
    max-width: 40%;
    width: 40%;
  }
  .entreprise-second-container .img img {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .entreprise-second-container {
    justify-content: center;
    flex-direction: column;
  }
  .entreprise-second-container .img,
  .entreprise-second-container .img img {
    display: none;
  }
  .entreprise-second-container .txt {
    min-width: 100%;
    width: 100%;
  }
}

/*FOOTER*/

footer {
  color: #1a582f;
}

.footer-layer1 {
  display: flex;
  justify-content: space-evenly;
}

.footer-layer1 a {
  text-decoration: none;
  color: #1a582f;
}

.footer-layer1 .layer1-1,
.footer-layer1 .layer1-2,
.footer-layer1 .layer1-3 {
  width: 33%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-layer1 .layer1-3 {
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.footer-layer1 .layer1-1 p,
.footer-layer1 .layer1-2 p {
  align-self: center;
}

.footer-layer1 .layer1-3 svg {
  align-self: flex-start;
  margin-right: 5px;
}

.footer-layer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-layer2 .footer-download-container,
.footer-layer2 .copyright {
  width: 50%;
}

.footer-layer2 .footer-download-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-layer2 img {
  border-radius: 7px;
  width: 150px;
  cursor: pointer;
  margin: 0 10px;
}

.footer-layer2 .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .footer-layer2 {
    flex-direction: column;
    text-align: center;
  }
  .footer-layer2 .footer-download-container {
    width: 100%;
    margin: 10vh 0;
  }
  .footer-layer2 .copyright {
    width: 100%;
    margin: 5vh 0;
  }
  .footer-layer1 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-layer1 {
    flex-direction: column;
    text-align: center;
  }
  .footer-layer1 .layer1-1,
  .footer-layer1 .layer1-2,
  .footer-layer1 .layer1-3 {
    width: 100%;
    margin: 1rem 0;
  }

  .footer-layer1 {
    flex-direction: column;
  }
}
