body {
  padding: 0;
  margin: 0;
  font-family: Paytone One, Arial, Helvetica, sans-serif;
}

/*GENERAL*/

.txt {
  color: #fff;
}

.main-txt {
  font-size: 1.6rem;
}

.second-txt {
  font-size: 1.2rem;
}

.center-txt {
  text-align: center;
}

.highlight {
  color: #fffa65;
  font-weight: bold;
  font-size: 1.8rem;
}

.button-default {
  font-family: Paytone One, Arial, Helvetica, sans-serif;
  background-color: #fffa65;
  color: #1a582f;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-default:hover {
  background-color: #d9d456;
  transform: scale(1.025);
}

.scroll-icon {
  height: 75px;
  width: 75px;
}
.scroll-icon {
  fill: #fff;
}

.icon-text-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.icon-text-centered svg {
  margin-right: 20px;
}
@media screen and (max-width: 1400px) {
  .main-txt {
    font-size: 1.4rem;
  }
  .second-txt {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .button-default {
    padding: 5px 7px;
    font-size: 0.8rem;
  }
  .main-txt {
    font-size: 1.2rem;
  }
  .second-txt {
    font-size: 0.8rem;
  }
}

/*NAV BAR*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a582f;
  padding: 10px;
  color: white;
  max-height: 8vh;
  border-bottom: #113b1f solid 2px;
}

nav .nav-logo {
  height: 10vh;
  width: 10vh;
  margin-right: 20px;
}

nav .logo-container {
  display: flex;
  align-items: center;
}

nav .logo img {
  max-width: 100%;
  height: auto;
}

nav .links {
  display: flex;
}

nav .links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

@media screen and (max-width: 1000px) {
  nav .nav-logo {
    height: 6vh;
    width: 6vh;
    margin-right: 5px;
  }
}

@media screen and (max-width: 640px) {
  nav {
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: 50vh;
  }
  nav .nav-logo {
    margin-bottom: 10px;
  }
  nav .logo-container {
    flex-direction: column;
    align-items: center;
  }

  nav .links {
    flex-direction: column;
    align-items: center;
  }

  nav .links a {
    margin-right: 0;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .button-default {
    margin: 10px 0;
  }
}
/*MAIN*/

.form-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(26, 88, 47, 0.35);
}

.form-container #form {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

#form input,
#form select,
#form textarea {
  font-family: Paytone One, Arial, Helvetica, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  padding: 0.5rem 0.2rem;
  transition: border-color 0.3s ease-in-out;
}

#form input:hover,
#form select:hover,
#form textarea:hover {
  border-color: #7e7e7e;
}

#form input {
  height: 16px;
}

#form select {
  height: 36px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#form button {
  font-family: Paytone One, Arial, Helvetica, sans-serif;
  margin-top: 10px;
  width: 80%;
  background-color: #ff4444;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 30px;

  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#form button:hover {
  background-color: #c53434;
}

/*FOOTER*/

footer {
  color: #1a582f;
}

.footer-layer1 {
  display: flex;
  justify-content: space-evenly;
}

.footer-layer1 a {
  text-decoration: none;
  color: #1a582f;
}

.footer-layer1 .layer1-1,
.footer-layer1 .layer1-2,
.footer-layer1 .layer1-3 {
  width: 33%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-layer1 .layer1-3 {
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.footer-layer1 .layer1-1 p,
.footer-layer1 .layer1-2 p {
  align-self: center;
}

.footer-layer1 .layer1-3 svg {
  align-self: flex-start;
  margin-right: 5px;
}

.footer-layer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-layer2 .footer-download-container,
.footer-layer2 .copyright {
  width: 50%;
}

.footer-layer2 .footer-download-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-layer2 img {
  border-radius: 7px;
  width: 150px;
  cursor: pointer;
  margin: 0 10px;
}

.footer-layer2 .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .footer-layer2 {
    flex-direction: column;
    text-align: center;
  }
  .footer-layer2 .footer-download-container {
    width: 100%;
    margin: 10vh 0;
  }
  .footer-layer2 .copyright {
    width: 100%;
    margin: 5vh 0;
  }
  .footer-layer1 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-layer1 {
    flex-direction: column;
    text-align: center;
  }
  .footer-layer1 .layer1-1,
  .footer-layer1 .layer1-2,
  .footer-layer1 .layer1-3 {
    width: 100%;
    margin: 1rem 0;
  }

  .footer-layer1 {
    flex-direction: column;
  }
}
