body {
  padding: 0;
  margin: 0;
  font-family: Paytone One, Arial, Helvetica, sans-serif;
}

/*GENERAL*/

.txt {
  color: #fff;
}

.main-txt {
  font-size: 1.4rem;
}

.second-txt {
  font-size: 1.2rem;
}

.center-txt {
  text-align: center;
}

.highlight {
  color: #fffa65;
  font-weight: bold;
  font-size: 1.5rem;
}

.button-default {
  font-family: Paytone One, Arial, Helvetica, sans-serif;
  background-color: #fffa65;
  color: #1a582f;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-default:hover {
  background-color: #d9d456;
  transform: scale(1.025);
}

.scroll-icon {
  height: 75px;
  width: 75px;
}
.scroll-icon {
  fill: #fff;
}

.icon-text-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.icon-text-centered svg {
  margin-right: 20px;
}
/*NAV BAR*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a582f;
  padding: 10px;
  color: white;
  max-height: 8vh;
  border-bottom: #113b1f solid 2px;
}

nav .nav-logo {
  height: 10vh;
  width: 10vh;
  margin-right: 20px;
}

nav .logo-container {
  display: flex;
  align-items: center;
}

nav .logo img {
  max-width: 100%;
  height: auto;
}

nav .links {
  display: flex;
}

nav .links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

/*Main*/

.first-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  max-height: 90vh;
  background-color: #1a582f;
  border-bottom: #113b1f solid 2px;
}

.first-container .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-container .txt p {
  width: 50%;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.first-container .img img {
  height: 90vh;
  max-height: 90vh;
}

.first-container button {
  margin-bottom: 40px;
}

.second-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  background-color: #1a582f;
  color: #fff;
}

.second-container h3 {
  text-align: center;
}

.second-container .icon-txt-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: start;
  text-align: center;
  justify-content: space-evenly;
  height: 50vh;
}

.second-container .card {
  height: 35vh;
}
.second-container .card svg {
  height: 20vh;
}
.second-container .card h3 {
  height: 5vh;
}
.second-container .card p {
  height: 10vh;
}

.third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  background-color: #eee9da;
  color: #fff;
}

.third-container .center-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 60vh;
  max-height: 60vh;
  width: 60%;
}

.third-container .img img {
  height: 70vh;
}
.third-container .txt {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 40px;
  color: #1a582f;
}

.third-container .txt button {
  width: 50%;
}

.icon-text-centered svg {
  height: 75%;
}

.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
