body {
  padding: 0;
  margin: 0;
  font-family: Paytone One, Arial, Helvetica, sans-serif;
}

/*GENERAL*/

.txt {
  color: #fff;
}

.main-txt {
  font-size: 1.6rem;
}

.second-txt {
  font-size: 1.2rem;
}

.center-txt {
  text-align: center;
}

.highlight {
  color: #fffa65;
  font-weight: bold;
  font-size: 1.8rem;
}

.button-default {
  font-family: Paytone One, Arial, Helvetica, sans-serif;
  background-color: #fffa65;
  color: #1a582f;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-default:hover {
  background-color: #d9d456;
  transform: scale(1.025);
}

.scroll-icon {
  height: 75px;
  width: 75px;
}
.scroll-icon {
  fill: #fff;
}

.icon-text-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.icon-text-centered svg {
  margin-right: 20px;
}
/*NAV BAR*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a582f;
  padding: 10px;
  color: white;
  max-height: 8vh;
  border-bottom: #113b1f solid 2px;
}

nav .nav-logo {
  height: 10vh;
  width: 10vh;
  margin-right: 20px;
}

nav .logo-container {
  display: flex;
  align-items: center;
}

nav .logo img {
  max-width: 100%;
  height: auto;
}

nav .links {
  display: flex;
}

nav .links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

/*Main*/

/*first-container*/

.first-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  max-height: 90vh;
  background-color: #1a582f;
  border-bottom: #113b1f solid 2px;
}

.first-container .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-container .txt p {
  width: 50%;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.first-container .img img {
  height: 90vh;
  max-height: 90vh;
}

.first-container button {
  margin-bottom: 40px;
}

/*second-container*/

.second-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  background-color: #1a582f;
  color: #fff;
  border-bottom: #113b1f solid 2px;
}

.second-container h3 {
  text-align: center;
}

.second-container .icon-txt-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: start;
  text-align: center;
  justify-content: space-evenly;
  height: 50vh;
}

.second-container .card {
  height: 35vh;
}
.second-container .card svg {
  height: 20vh;
}
.second-container .card h3 {
  height: 5vh;
}
.second-container .card p {
  height: 10vh;
}

/*third-container*/

.third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  background-color: #eee9da;
  color: #fff;
  border-bottom: #113b1f solid 2px;
}

.third-container .center-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 60vh;
  max-height: 60vh;
  width: 60%;
}

.third-container .img img {
  height: 70vh;
}
.third-container .txt {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 40px;
  color: #1a582f;
}

.third-container .txt button {
  width: 50%;
}

.third-container .icon-text-centered svg {
  height: 75%;
}

/*fourth-container*/

.fourth-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  background-color: #1a582f;
  color: #fff;
  border-bottom: #113b1f solid 2px;
}

.fourth-container h3 {
  text-align: center;
}

.fourth-container .icon-txt-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: start;
  text-align: center;
  justify-content: space-evenly;
  height: 50vh;
}

.fourth-container .card {
  height: 35vh;
}
.fourth-container .card svg {
  height: 20vh;
}
.fourth-container .card h3 {
  height: 5vh;
}
.fourth-container .card p {
  height: 10vh;
}

/*fith-container*/

.fith-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  background-color: #eee9da;
  color: #fff;
  border-bottom: #113b1f solid 2px;
}

.fith-container .center-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 60vh;
  max-height: 60vh;
  width: 60%;
}

.fith-container .img img {
  height: 70vh;
}
.fith-container .txt {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 40px 0 0;
  color: #1a582f;
}

.fith-container .txt button {
  width: 50%;
}

.fith-container .icon-text-centered svg {
  height: 75%;
}

/*six-container*/

.six-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  background-color: #1a582f;
  color: #fff;
  border-bottom: #113b1f solid 2px;
}

.six-container .main-txt {
  text-align: center;
  margin: 7vh auto;
}

.six-container .icon-txt-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: start;
  text-align: center;
  justify-content: space-evenly;
  height: 60vh;
  max-height: 60vh;
}

.six-container .card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  max-height: 60vh;
}
.six-container .card img {
  height: 45vh;
  width: 30vw;
}
.six-container .card h3 {
  height: 2vh;
  width: 75%;
}
.six-container .card p {
  height: 2vh;
  width: 75%;
}

.six-container button {
  width: 20%;
  margin-top: 12vh;
}

/*FOOTER*/

footer {
  color: #1a582f;
}

.footer-layer1 {
  display: flex;
  justify-content: space-evenly;
}

.footer-layer1 .layer1-1,
.footer-layer1 .layer1-2,
.footer-layer1 .layer1-3 {
  width: 33%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-layer1 .layer1-3 {
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.footer-layer1 .layer1-1 p,
.footer-layer1 .layer1-2 p {
  align-self: center;
}

.footer-layer1 .layer1-3 svg {
  align-self: flex-start;
  margin-right: 5px;
}

.footer-layer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-layer2 .footer-download-container,
.footer-layer2 .copyright {
  width: 50%;
}

.footer-layer2 .footer-download-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-layer2 img {
  width: 150px;
  cursor: pointer;
  margin: 0 10px;
}

.footer-layer2 .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .footer-layer2 {
    flex-direction: column;
    text-align: center;
  }

  .footer-layer2 .footer-download-container,
  .footer-layer2 .copyright {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-layer1 {
    flex-direction: column;
    text-align: center;
  }

  .footer-layer1 .layer1-1,
  .footer-layer1 .layer1-2,
  .footer-layer1 .layer1-3 {
    width: 100%;
    margin: 1rem 0;
  }

  .footer-layer1 {
    flex-direction: column;
  }
}

.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
