body {
  padding: 0;
  margin: 0;
  font-family: Paytone One, Arial, Helvetica, sans-serif;
}

/*GENERAL*/

.txt {
  color: #fff;
}

.main-txt {
  font-size: 1.6rem;
}

.second-txt {
  font-size: 1.2rem;
}

.center-txt {
  text-align: center;
}

.highlight {
  color: #fffa65;
  font-weight: bold;
  font-size: 1.8rem;
}

.button-default {
  font-family: Paytone One, Arial, Helvetica, sans-serif;
  background-color: #fffa65;
  color: #1a582f;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-default:hover {
  background-color: #d9d456;
  transform: scale(1.025);
}

.scroll-icon {
  height: 75px;
  width: 75px;
}
.scroll-icon {
  fill: #fff;
}

.icon-text-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.icon-text-centered svg {
  margin-right: 20px;
}
@media screen and (max-width: 1400px) {
  .main-txt {
    font-size: 1.4rem;
  }
  .second-txt {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .button-default {
    padding: 5px 7px;
    font-size: 0.8rem;
  }
  .main-txt {
    font-size: 1.2rem;
  }
  .second-txt {
    font-size: 0.8rem;
  }
}
/*NAV BAR*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a582f;
  padding: 10px;
  color: white;
  max-height: 8vh;
  border-bottom: #113b1f solid 2px;
}

nav .nav-logo {
  height: 10vh;
  width: 10vh;
  margin-right: 20px;
}

nav .logo-container {
  display: flex;
  align-items: center;
}

nav .logo img {
  max-width: 100%;
  height: auto;
}

nav .links {
  display: flex;
}

nav .links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

@media screen and (max-width: 1000px) {
  nav .nav-logo {
    height: 6vh;
    width: 6vh;
    margin-right: 5px;
  }
  nav .links a {
    min-height: 48px;
    min-width: 48px;
  }
}

@media screen and (max-width: 640px) {
  nav {
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: 50vh;
  }
  nav .nav-logo {
    margin-bottom: 10px;
  }
  nav .logo-container {
    flex-direction: column;
    align-items: center;
  }

  nav .links {
    flex-direction: column;
    align-items: center;
  }

  nav .links a {
    margin-right: 0;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .button-default {
    margin: 10px 0;
  }
}

/*Main*/

/*homepage-first-container*/

.homepage-first-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  max-height: 90vh;
  background-color: #1a582f;
  border-bottom: #113b1f solid 2px;
}

.homepage-first-container .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-first-container .txt p {
  width: 50%;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.homepage-first-container .img img {
  height: 90vh;
  max-height: 90vh;
}

.homepage-first-container button {
  margin-bottom: 40px;
}

@media screen and (max-width: 1400px) {
  .homepage-first-container .txt p,
  .homepage-first-container .txt h3 {
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  .homepage-first-container .txt p,
  .homepage-first-container .txt h3 {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .homepage-first-container {
    justify-content: center;
    flex-direction: column;
  }
  .homepage-first-container .img img {
    display: none;
  }
}

/*homepage-second-container*/

.homepage-second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  background-color: #eee9da;
  color: #fff;
  background-color: #1a582f;
  border-bottom: #113b1f solid 2px;
}

.homepage-second-container .center-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  height: 60vh;
  max-height: 60vh;
  width: 60%;
}

.homepage-second-container .img img {
  height: 70vh;
  width: 30vw;
}
.homepage-second-container .txt {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 0 40px;
}

.homepage-second-container .txt button {
  width: 65%;
}

.homepage-second-container .icon-text-centered svg {
  height: 75%;
}

.homepage-second-container .app-download-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.homepage-second-container .app-download-container img {
  margin: 20px 20px 0 0;
  height: 50px;
  cursor: pointer;
  border-radius: 7px;
}

@media screen and (max-width: 1000px) {
  .homepage-second-container {
    height: 170vh;
    max-height: 300vh;
  }
  .homepage-second-container .center-container {
    flex-direction: column-reverse;
  }
  .homepage-second-container .txt {
    padding: 0;
  }
  .homepage-second-container .img img {
    width: 80vw;
  }
}

/*homepage-third-container*/

.homepage-third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  background-color: #eee9da;
  color: #fff;
  background-color: #1a582f;
  border-bottom: #113b1f solid 2px;
}

.homepage-third-container .center-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 60vh;
  max-height: 60vh;
  width: 60%;
}

.homepage-third-container .img img {
  height: 70vh;
  width: 30vw;
}
.homepage-third-container .txt {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px 0 0;
}

.homepage-third-container .txt button {
  width: 65%;
}

.homepage-third-container .icon-text-centered svg {
  height: 75%;
}

.homepage-third-container .app-download-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.homepage-third-container .app-download-container img {
  margin: 20px 20px 0 0;
  height: 50px;
  cursor: pointer;
  border-radius: 7px;
}

@media screen and (max-width: 1000px) {
  .homepage-third-container {
    height: 170vh;
    max-height: 300vh;
  }
  .homepage-third-container .center-container {
    flex-direction: column-reverse;
  }
  .homepage-third-container .txt {
    padding: 0;
  }
  .homepage-third-container .img img {
    width: 80vw;
  }
}

/*.homepage-fith-container*/

.homepage-fith-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
  color: #fff;
  background-color: #1a582f;
  border-bottom: #113b1f solid 2px;
}

.homepage-fith-container .guide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding-bottom: 10vh;
}

.homepage-fith-container .guide-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage-fith-container .guide-card p {
  text-align: center;
}

/*svg*/

.groupe32 {
  position: relative;
  width: 500px;
}

.chiffre {
  position: absolute;
  left: 0;
  transform: translate(30%, -12%);
  text-align: center;
}
.chiffre-reverse {
  position: absolute;
  left: 0;
  transform: translate(-30%, -12%);
  text-align: center;
}

.chiffre text,
.chiffre-reverse text {
  font-size: 18px;
  fill: #1a582f;
}

.chiffre circle,
.chiffre-reverse circle {
  fill: #fff;
}

/*FOOTER*/

footer {
  color: #1a582f;
}

.footer-layer1 {
  display: flex;
  justify-content: space-evenly;
}

.footer-layer1 a {
  text-decoration: none;
  color: #1a582f;
}

.footer-layer1 .layer1-1,
.footer-layer1 .layer1-2,
.footer-layer1 .layer1-3 {
  width: 33%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-layer1 .layer1-3 {
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.footer-layer1 .layer1-1 p,
.footer-layer1 .layer1-2 p {
  align-self: center;
}

.footer-layer1 .layer1-3 svg {
  align-self: flex-start;
  margin-right: 5px;
}

.footer-layer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-layer2 .footer-download-container,
.footer-layer2 .copyright {
  width: 50%;
}

.footer-layer2 .footer-download-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-layer2 img {
  border-radius: 7px;
  width: 150px;
  cursor: pointer;
  margin: 0 10px;
}

.footer-layer2 .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .footer-layer2 {
    flex-direction: column;
    text-align: center;
  }
  .footer-layer2 .footer-download-container {
    width: 100%;
    margin: 10vh 0;
  }
  .footer-layer2 .copyright {
    width: 100%;
    margin: 5vh 0;
  }
  .footer-layer1 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-layer1 {
    flex-direction: column;
    text-align: center;
  }
  .footer-layer1 .layer1-1,
  .footer-layer1 .layer1-2,
  .footer-layer1 .layer1-3 {
    width: 100%;
    margin: 1rem 0;
  }

  .footer-layer1 {
    flex-direction: column;
  }
}

.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
