body {
  padding: 0;
  margin: 0;
  font-family: Paytone One, Arial, Helvetica, sans-serif;
}

/*GENERAL*/

.txt {
  color: #fff;
}

.main-txt {
  font-size: 1.6rem;
}

.second-txt {
  font-size: 1.2rem;
}

.center-txt {
  text-align: center;
}

.highlight {
  color: #fffa65;
  font-weight: bold;
  font-size: 1.8rem;
}

.button-default {
  font-family: Paytone One, Arial, Helvetica, sans-serif;
  background-color: #fffa65;
  color: #1a582f;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-default:hover {
  background-color: #d9d456;
  transform: scale(1.025);
}

.scroll-icon {
  height: 75px;
  width: 75px;
}
.scroll-icon {
  fill: #fff;
}

.icon-text-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.icon-text-centered svg {
  margin-right: 20px;
}
@media screen and (max-width: 1400px) {
  .main-txt {
    font-size: 1.4rem;
  }
  .second-txt {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .button-default {
    padding: 5px 7px;
    font-size: 0.8rem;
  }
  .main-txt {
    font-size: 1.2rem;
  }
  .second-txt {
    font-size: 0.8rem;
  }
}
/*NAV BAR*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a582f;
  padding: 10px;
  color: white;
  max-height: 8vh;
  border-bottom: #113b1f solid 2px;
}

nav .nav-logo {
  height: 10vh;
  width: 10vh;
  margin-right: 20px;
}

nav .logo-container {
  display: flex;
  align-items: center;
}

nav .logo img {
  max-width: 100%;
  height: auto;
}

nav .links {
  display: flex;
}

nav .links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

@media screen and (max-width: 1000px) {
  nav .nav-logo {
    height: 6vh;
    width: 6vh;
    margin-right: 5px;
  }
}

@media screen and (max-width: 640px) {
  nav {
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: 50vh;
  }
  nav .nav-logo {
    margin-bottom: 10px;
  }
  nav .logo-container {
    flex-direction: column;
    align-items: center;
  }

  nav .links {
    flex-direction: column;
    align-items: center;
  }

  nav .links a {
    margin-right: 0;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .button-default {
    margin: 10px 0;
  }
}

/*vestimentaire-first-container*/

.vestimentaire-first-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  background-color: #1a582f;
  color: #fff;
  border-bottom: #113b1f solid 2px;
}
.vestimentaire-first-container h3 {
  text-align: center;
}
.vestimentaire-first-container .icon-txt-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: start;
  text-align: center;
  justify-content: space-evenly;
  height: 50vh;
}
.vestimentaire-first-container .card {
  height: 35vh;
}
.vestimentaire-first-container .card svg {
  height: 20vh;
}
.vestimentaire-first-container .card h3 {
  height: 5vh;
}
.vestimentaire-first-container .card p {
  height: 10vh;
}

@media screen and (max-width: 1000px) {
  .vestimentaire-first-container {
    height: auto;
    max-height: 300vh;
  }
  .vestimentaire-first-container .icon-txt-container {
    flex-direction: column;
    width: 95%;
    height: auto;
    max-height: 300vh;
    align-items: center;
  }
  .vestimentaire-first-container .icon-txt-container .card {
    margin-bottom: 15vh;
  }
}

/*vestimentaire-second-container*/

.vestimentaire-second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  background-color: #eee9da;
  color: #fff;
  border-bottom: #113b1f solid 2px;
}

.vestimentaire-second-container .center-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 60vh;
  max-height: 60vh;
  width: 60%;
}

.vestimentaire-second-container .img img {
  height: 70vh;
}
.vestimentaire-second-container .txt {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 40px;
  color: #1a582f;
}

.vestimentaire-second-container .txt button {
  width: 50%;
}

.vestimentaire-second-container .icon-text-centered svg {
  height: 75%;
}

@media screen and (max-width: 1000px) {
  .vestimentaire-second-container {
    height: 170vh;
    max-height: 300vh;
  }
  .vestimentaire-second-container .center-container {
    flex-direction: column;
  }
}

/*vestimentaire-third-container*/

.vestimentaire-third-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  background-color: #1a582f;
  color: #fff;
  border-bottom: #113b1f solid 2px;
  padding-bottom: 10vh;
}

.vestimentaire-third-container .main-txt {
  text-align: center;
  margin: 7vh auto;
}

.vestimentaire-third-container .icon-txt-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: start;
  text-align: center;
  justify-content: space-evenly;
  height: 60vh;
  max-height: 60vh;
}

.vestimentaire-third-container .card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  max-height: 60vh;
}
.vestimentaire-third-container .card img {
  height: 45vh;
  width: 30vw;
}
.vestimentaire-third-container .card h3 {
  height: 2vh;
  width: 75%;
}
.vestimentaire-third-container .card p {
  height: 2vh;
  width: 75%;
}

.vestimentaire-third-container button {
  width: 20%;
  margin-top: 12vh;
}

@media screen and (max-width: 1000px) {
  .vestimentaire-third-container {
    height: auto;
    max-height: 300vh;
  }
  .vestimentaire-third-container .icon-txt-container {
    flex-direction: column;
    width: 95%;
    height: auto;
    max-height: 300vh;
    align-items: center;
  }
  .vestimentaire-third-container .icon-txt-container .card {
    margin-bottom: 15vh;
  }
  .vestimentaire-third-container button {
    width: 40%;
    margin: 0 0 10vh 0;
  }
  .vestimentaire-third-container .card img {
    height: 45vh;
    width: 60vw;
  }
}

/*FOOTER*/

footer {
  color: #1a582f;
}

.footer-layer1 {
  display: flex;
  justify-content: space-evenly;
}

.footer-layer1 a {
  text-decoration: none;
  color: #1a582f;
}

.footer-layer1 .layer1-1,
.footer-layer1 .layer1-2,
.footer-layer1 .layer1-3 {
  width: 33%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-layer1 .layer1-3 {
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.footer-layer1 .layer1-1 p,
.footer-layer1 .layer1-2 p {
  align-self: center;
}

.footer-layer1 .layer1-3 svg {
  align-self: flex-start;
  margin-right: 5px;
}

.footer-layer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-layer2 .footer-download-container,
.footer-layer2 .copyright {
  width: 50%;
}

.footer-layer2 .footer-download-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-layer2 img {
  border-radius: 7px;
  width: 150px;
  cursor: pointer;
  margin: 0 10px;
}

.footer-layer2 .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .footer-layer2 {
    flex-direction: column;
    text-align: center;
  }
  .footer-layer2 .footer-download-container {
    width: 100%;
    margin: 10vh 0;
  }
  .footer-layer2 .copyright {
    width: 100%;
    margin: 5vh 0;
  }
  .footer-layer1 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-layer1 {
    flex-direction: column;
    text-align: center;
  }
  .footer-layer1 .layer1-1,
  .footer-layer1 .layer1-2,
  .footer-layer1 .layer1-3 {
    width: 100%;
    margin: 1rem 0;
  }

  .footer-layer1 {
    flex-direction: column;
  }
}
